/*-- 各版區被景色 --*/
.index_body{
  background-color: #efefef;
}
.news_body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f4ff+0,eeedee+100 */
background: rgb(242,244,255); /* Old browsers */
/*background: -moz-linear-gradient(top, rgba(242,244,255,1) 0%, rgba(238,237,238,1) 100%); 
background: -webkit-linear-gradient(top, rgba(242,244,255,1) 0%,rgba(238,237,238,1) 100%); 
background: linear-gradient(to bottom, rgba(242,244,255,1) 0%,rgba(238,237,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f4ff', endColorstr='#eeedee',GradientType=0 ); */
}
.rank_body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5efff+19,eeedee+100 */
    background: rgb(245,239,255); /* Old browsers */
/*    background: -moz-linear-gradient(top, rgba(245,239,255,1) 19%, rgba(238,237,238,1) 100%);
    background: -webkit-linear-gradient(top, rgba(245,239,255,1) 19%,rgba(238,237,238,1) 100%); 
    background: linear-gradient(to bottom, rgba(245,239,255,1) 19%,rgba(238,237,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5efff', endColorstr='#eeedee',GradientType=0 ); */
}
.cardNews_body{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#faf5e6+0,fffaed+47,eeedee+100 */
 background: rgb(250,245,230); /* Old browsers */
/* background: -moz-linear-gradient(top, rgba(250,245,230,1) 0%, rgba(255,250,237,1) 47%, rgba(238,237,238,1) 100%); 
 background: -webkit-linear-gradient(top, rgba(250,245,230,1) 0%,rgba(255,250,237,1) 47%,rgba(238,237,238,1) 100%); 
 background: linear-gradient(to bottom, rgba(250,245,230,1) 0%,rgba(255,250,237,1) 47%,rgba(238,237,238,1) 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf5e6', endColorstr='#eeedee',GradientType=0 ); */
}
.pay_body{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0feff+0,efeeef+100 */
 	background: rgb(240,254,255); /* Old browsers */
 	/*background: -moz-linear-gradient(top, rgba(240,254,255,1) 0%, rgba(239,238,239,1) 100%); 
 	background: -webkit-linear-gradient(top, rgba(240,254,255,1) 0%,rgba(239,238,239,1) 100%); 
 	background: linear-gradient(to bottom, rgba(240,254,255,1) 0%,rgba(239,238,239,1) 100%); 
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0feff', endColorstr='#efeeef',GradientType=0 ); */
}

.ticket_body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff2f5+0,efeeef+100 */
background: rgb(255,242,245); /* Old browsers */
/*background: -moz-linear-gradient(top, rgba(255,242,245,1) 0%, rgba(239,238,239,1) 100%); 
background: -webkit-linear-gradient(top, rgba(255,242,245,1) 0%,rgba(239,238,239,1) 100%); 
background: linear-gradient(to bottom, rgba(255,242,245,1) 0%,rgba(239,238,239,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff2f5', endColorstr='#efeeef',GradientType=0 ); */
}
.point_body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff3ef+0,efeeef+100 */
background: rgb(255,243,239); /* Old browsers */
/*background: -moz-linear-gradient(top, rgba(255,243,239,1) 0%, rgba(239,238,239,1) 100%); 
background: -webkit-linear-gradient(top, rgba(255,243,239,1) 0%,rgba(239,238,239,1) 100%); 
background: linear-gradient(to bottom, rgba(255,243,239,1) 0%,rgba(239,238,239,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff3ef', endColorstr='#efeeef',GradientType=0 ); */
}
.travel_body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0fbe7+0,efeeef+100 */
background: rgb(240,251,231); /* Old browsers */
/*background: -moz-linear-gradient(top, rgba(240,251,231,1) 0%, rgba(239,238,239,1) 100%); 
background: -webkit-linear-gradient(top, rgba(240,251,231,1) 0%,rgba(239,238,239,1) 100%); 
background: linear-gradient(to bottom, rgba(240,251,231,1) 0%,rgba(239,238,239,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0fbe7', endColorstr='#efeeef',GradientType=0 ); */
}

/*-- 通用 --*/
.w-100{ width: 100%; }
.v-center{
    display: flex; 
    align-items: center;
}

.d-none{ display: none; }

/*-- 右邊div --*/
.index-content-right.move{ position: absolute;}

/*-- 搜尋按鈕 --*/
.search_box .search_box_btn{ padding: 5px 35px; }

/*-- 卡情報-單卡-重要權益 --*/
.imp_int_title{ background-color: #ccc; padding: 7px; }
.imp_int{  }
.imp_int .card-header{ padding: 12px 6px; height: 130px;}
.imp_int .card-header .angle_down{ font-size: 40px; color: #7e7e7e; }
.imp_int .collapse_txt{ font-size: 16px; color: #9b9b9b; }




/*-- 漸層按鈕 --*/
.warning-layered{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffeaa3+0,eeb600+47,ffc711+100 */
background: rgb(255,234,163); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,234,163,1) 0%, rgba(238,182,0,1) 47%, rgba(255,199,17,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,234,163,1) 0%,rgba(238,182,0,1) 47%,rgba(255,199,17,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,234,163,1) 0%,rgba(238,182,0,1) 47%,rgba(255,199,17,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeaa3', endColorstr='#ffc711',GradientType=0 ); /* IE6-9 */
  color: #000;
  border: none;
}

.gray-layered{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1d1d1+0,767676+47,878787+100 */
  background: rgb(209,209,209); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(118,118,118,1) 47%, rgba(135,135,135,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(209,209,209,1) 0%,rgba(118,118,118,1) 47%,rgba(135,135,135,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(209,209,209,1) 0%,rgba(118,118,118,1) 47%,rgba(135,135,135,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#878787',GradientType=0 ); /* IE6-9 */

  border: none;
  color: #fff;
}


.gray-layered.active{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8294d6+0,253d95+46,253d95+100 */
background: rgb(130,148,214); /* Old browsers */
background: -moz-linear-gradient(top, rgba(130,148,214,1) 0%, rgba(37,61,149,1) 46%, rgba(37,61,149,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(130,148,214,1) 0%,rgba(37,61,149,1) 46%,rgba(37,61,149,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(130,148,214,1) 0%,rgba(37,61,149,1) 46%,rgba(37,61,149,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8294d6', endColorstr='#253d95',GradientType=0 ); /* IE6-9 */

  border: none;
}


/*--------------------------------- 一大三小NEWS(輪播) ----------------------------------*/
.myCarousel .news_live{
  width:580px;
  height: 390px;
  display: inline-block;
}

.myCarousel .news_live img{
  width:100%;
}

.myCarousel .news_live .swiper-container{
  height: 100%;
}

.myCarousel .news_live a{ display: block; width: 100%; height: 100%; }

.myCarousel .news_live .word {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    top: 331px;
    left: 0;
    z-index: 69;
    background-color: rgba(0,0,0,0.40);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 0 30px;
}

.myCarousel .news_live .swiper-button-next, .myCarousel .news_live .swiper-container-rtl .swiper-button-prev {
    height: 100%;
    width: 45px;
    right: -7%;
    top: 6%;
}

.myCarousel .news_live .swiper-button-prev, .myCarousel .news_live .swiper-container-rtl .swiper-button-next {
    height: 100%;
    width: 45px;
    left: -7%;
    top: 6%;
}

.myCarousel .news_live .swiper-button-prev i, .myCarousel .news_live .swiper-button-next i {
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: #6a6a6a;
    line-height: 2.2rem;
    border-radius: 50px;
}

.slide_pagination{position: relative; display: inline-block; vertical-align: top; margin-top: 28px; margin-left: 5px;}
.slide_pagination .cardshap{ background: none; border-radius: 10px 0 10px 0;}
.slide_pagination .swiper-container{ width: 158px; height: 340px; }
.slide_pagination .swiper-container .swiper-slide a{ display: block; position: relative; }
.slide_pagination .swiper-container .swiper-slide .word{ color: #333; font-size: 14px; width: 100%; background-color: #fff; position: absolute; bottom: 0; }
.slide_pagination .swiper-container .swiper-slide img{ width: 100%; }
.slide_pagination .swiper-button-prev, .slide_pagination .swiper-button-next{  width: 100%; left: 0; font-size: 25px;  height: 25px; border-radius: 3px;}
.slide_pagination .swiper-button-next, .swiper-container-rtl .swiper-button-prev{ top: -6px; }
.slide_pagination .swiper-button-prev, .swiper-container-rtl .swiper-button-next{ top: auto; bottom: -23px; }


/*------------------------------------ 新輪播 ------------------------------------------*/
  #new_iNews{ height: 335px; overflow: hidden; position: relative; }

  .new_slide{ position: relative; height: 100%; background: none;}
  .new_slide .swiper-container{
      height: 100%;
  }


  .new_slide .swiper-slide a{
      display: block;
  }

  .new_slide .swiper-button-prev, .new_slide .swiper-container-rtl .swiper-button-next{
         
         color: #fff;
         width: 45px;
         height: 45px;
         left: -7%;
         top: 44%;
  }

  .new_slide .swiper-button-next, .new_slide .swiper-container-rtl .swiper-button-prev{
       
       color: #fff;
       width: 45px;
       height: 45px;
       right: -7%;
       top: 44%;
  }

  .new_slide .swiper-button-next.swiper-button-disabled, .new_slide .swiper-button-prev.swiper-button-disabled{
     opacity: 0.4;
  }

  .new_slide .swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 0%;
    text-align: left;
  }

  .new_slide .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background: #333;
    opacity: .4;
  }

  .new_slide .swiper-pagination-bullet-active{
    background: #273e8e;
    opacity: 0.9;
  }

  .new_slide .swiper-slide .word{
    position: absolute;
    bottom: 0;
    font-size: 23px;
    color: #fff;
    font-weight: 600;
    width: 100%;
    padding: 0.5rem 0rem;
    text-align: center;
  }
  
  .new_slide .slide_div{ display: flex; }
  .new_slide .slide_div .slide_img { display: inline-block; width: 450px; height: 300px;}
  .new_slide .slide_div .slide_img a{display: none; width: 100%; height: 100%; }
  .new_slide .slide_div .slide_img a.active{ display: block; }
  .new_slide .slide_div .slide_list{ display: inline-block; width: 300px; background-color: #fff; }
  .new_slide .slide_div .slide_list a{ padding: 14px 15px;}
  .new_slide .slide_div .slide_list a.active{ background-color: #e9e9e9; }
  .new_slide .slide_div .slide_list a h4{ font-size: 17px; font-weight: 600; color: #304594; }
  .new_slide .slide_div .slide_list a p{ color: #333;  font-size: 13px;  margin: 0; }

  /*---------------- 熱門情報 -----------------*/

.HotNews_slide .swiper-button-prev i, .HotNews_slide .swiper-button-next i{
   width: 35px;
   height: 35px;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.5);
   color: #6a6a6a;
   line-height: 2.2rem;
   border-radius: 50px;
}

.HotNews_slide .swiper-button-prev, .HotNews_slide .swiper-container-rtl .swiper-button-next{
       height: 100%;
       width: 45px;
       left: -15%;
       top: 6%;
}

.HotNews_slide .swiper-button-next, .HotNews_slide .swiper-container-rtl .swiper-button-prev{
      height: 100%;
      width: 45px;
     right: -15%;
     top: 6%;
}

/*---------------- 熱門情報 END -----------------*/







/*----------------------- 各連結滑鼠經過 ------------------------*/

.footer_btn a:hover{ color: #e59118; }
.tab_list li a:hover{ color: #e59118; }
.hotCard .content_tab h4:hover{ color: #e59118; }
.ccard .swiper-slide div a:hover{ color: #e59118; }

/*-- 新聞 --*/
.news_list_txt h3:hover{ color: #e59118; }
.cards-3 a:hover{ color: #e59118; }


/*-- 卡排行 --*/
.rank_care a h5:hover{ color: #e59118 !important; }

/*-- 卡情報 --*/
.change_law a:hover{ color: #e59118; }
.change_law h5:hover{ color: #e59118;  }
.ticketbg .bank_3 h5:hover{ color: #e59118; }
.card_name:hover{ color: #e59118; }
.bank_list ul li a:hover{ color: #e59118; }
.bank_list.type_card h5 a:hover{  color: #e59118; }
.all_color a:hover{ color: #e59118; }
.detail_title .debit_card .debit_limit li a:hover{ color: #e59118; }

/*-- 優行動PAY --*/
.cards-two a:hover{ color: #e59118; }

/*-- 優旅行 --*/
.travel_share h6:hover{ color: #e59118;  }
.hotCard .content_tab .img_b:hover{ color: #e59118;  }
.hotCard .content_tab .img_c:hover{ color: #e59118;  }
.hotCard .content_tab .journey_icon a:hover{ color: #e59118; }
.travel_text h6:hover{ color: #e59118; }
.japan_list a:hover{ color: #e59118; }

/*----------------------- 各連結滑鼠經過 END ------------------------*/






/*----------------------- 各按鈕滑鼠經過 ------------------------*/
.btnOver{ position: relative; top: 0; left: 0; }
.btnOver:hover{ top: 2px; left: 1px;}

/*-- 新聞 --*/

/*-- 卡情報 --*/
/*.apply_btn:hover{ box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5); }
.detail_title .row.ticketbg .applycard_btn:hover{ box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5); }
.detail_title .debit_card .applycard_btn:hover{ box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5); }
.detail_title .onlinebg .applycard_btn:hover{ box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5); }
.online_btn:hover{ box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5); }*/

/*-- 卡排行 --*/
/*.rank_button:hover{ box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5); }
.rank_more:hover{ box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5); }*/

/*----------------------- 各按鈕滑鼠經過 END ------------------------*/





/*----------------------------- 優旅行 更新 ----------------------------------*/
 .hotCard .content_tab .img_b{ width: auto; height: auto; margin-bottom: 15px; color: #000;}
 .hotCard .content_tab .img_b div{ width: 300px; height: 200px; margin: auto;}

 .hotCard .content_tab .img_c{ width: auto; height: auto; color: #000; }
 .hotCard .content_tab .img_c div{ width: 150px; height: 100px; margin: auto;}
/*----------------------------- 優旅行 更新 END ----------------------------------*/






/*----------------------------- 卡排行 更新 ----------------------------------*/

.ranksearch_list ul li .active{ color: #ffffff; background-color: #6e29a3; }
.ranksearch_list .warr_txt{ display: inline-block; font-size: 12px; padding: 0; }

/*----------------------------- 卡排行 更新 END ----------------------------------*/






/*----------------------------- 工具提示框 ----------------------------------*/

.tooltip-inner{padding: .7rem 1rem; color: #000; text-align: left; background-color: #fff; border-radius: 0.8rem; border: 1px solid #d0b3e9; box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15); }
.tooltip .arrow::after{ position: absolute; content: ""; border-color: transparent; border-style: solid; }
.bs-tooltip-auto[x-placement^=bottom] .arrow::after, .bs-tooltip-bottom .arrow::after { bottom: -1px; border-width: 0 0.5rem .5rem; border-bottom-color: #ffffff;}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before{ bottom: 0; border-width: 0 .5rem .5rem; border-bottom-color: #d0b3e9; }

/*----------------------------- 工具提示框 END ----------------------------------*/






/*----------------------------- 左邊浮動廣告 ----------------------------------*/

.left-ad{ position: absolute; top: 10px; left: -180px; }

/*----------------------------- 左邊浮動廣告 END ----------------------------------*/




/*----------------------------- 右邊浮動廣告 ----------------------------------*/

.right-ad{ position: absolute; top: 10px; right: -180px; }

/*----------------------------- 右邊浮動廣告 END ----------------------------------*/









/*----------------------------- 卡片比一比(功能) ----------------------------------*/

.card_compare{display: none; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); width: 180px; }
.card_compare h4{ 
  margin: 0;
text-align: right;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9c2f9+1,9147cb+76 */
background: rgb(217,194,249); /* Old browsers */
background: -moz-linear-gradient(top, rgba(217,194,249,1) 1%, rgba(145,71,203,1) 76%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(217,194,249,1) 1%,rgba(145,71,203,1) 76%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(217,194,249,1) 1%,rgba(145,71,203,1) 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9c2f9', endColorstr='#9147cb',GradientType=0 ); /* IE6-9 */
}
.card_compare h4 button{ font-size: 15px; background-color: #9146cb; border: 1px solid #9146cb; color: #f5f0ff;  padding: 5px;  vertical-align: top; }
.card_compare_div{ padding: 5px; border: 1px solid #9146cb; }
.card_compare_div button{ background-color: #ffd400; color: #000; width: 100%; border: none; padding: 5px; margin-top: 3px; border-radius: 5px; }
.card_compare .card{ width: 100px; border: 1px dashed #ccc; margin: 2px auto;}
.card_compare .card button{ position: absolute; right: -20px; top: 15px; background-color: #903fce; border: none; border-radius: 50%; font-size: 12px; font-weight: 600; width: 18px; height: 18px; padding: 0; color: #fff; }

/*----------------------------- 卡片比一比(功能) END ----------------------------------*/






/*----------------------------- 卡片比一比(內頁) ----------------------------------*/
.rank_boot_title{ background-color: #fff; }
/*----------------------------- 卡片比一比(內頁) END ----------------------------------*/